body {
  background-color:lime;
}

section {
  background-color: rgb(120, 16, 216);
  text-align: left;
  border: solid black 5px;
  padding: 20px;
  margin: 10px;
}

li {
  color:aqua;
  border: solid black;
  border-color: aqua;

}

p {
  color: aqua;
  border: solid black;
}

h2 {
  color: aqua;
  border: solid black;
  border-color: aqua;
  padding: 5px;
}

h1 {
  color:rgb(120, 16, 216);
}

footer {
  background-color: rgb(120, 16, 216);
  border: solid black 5px;
  margin: 10px;
}